.movie-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-page__row {
    margin: 20px 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.movie-page__icon {
    font-size: 25px;
    cursor: pointer;
}

.movie-page__title {
    font-weight: 400;
}

.movie-page__paragraph {
    margin: 0 auto 50px;
    width: 80%;
    text-align: center;
}

@media all and (min-width: 1000px) {
    .movie-page__row {
        width: 30%;
    }
}

.movie-page__icon {
    margin-bottom: 50px;
    color: #ccc;
    font-size: 30px;
    transition: 500ms;
    text-decoration: none;

}

.movie-page__icon:hover {
    color: black;
    transition: 500ms;
    cursor: pointer;
}