.pagination {
    margin: 30px auto;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pagination__icon {
    color: #ccc;
    font-size: 30px;
    transition: 500ms;
    text-decoration: none;

}

.pagination__icon:hover {
    color: black;
    transition: 500ms;
    cursor: pointer;
}